@font-face {
  font-family: "Raleway regular";
  src: url("../CSS/Font/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway bold";
  src: url("../CSS/Font/Raleway/Raleway-ExtraBold.ttf");
}

body {
  width: 100%;
  margin: auto;
  font-size: 16px;
}

.container {
  max-width: 1440px;
  margin: auto;
}

header {
  padding: 0px 50px;
}

p {
  font-family: "Raleway regular";
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}

h1,
h2 {
  font-family: "Raleway Bold";
}

h1 {
  margin-bottom: -8px;
  font-size: 1.35rem;
}

h2 {
  margin: 0;
  font-size: 1.35rem;
  padding-bottom: 20px;
}

h3 {
  font-family: "Raleway Bold";
  font-size: 1rem;
}

ul {
  list-style: none;
}

main {
  padding: 10px 50px 50px 50px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mobileHeader {
  display: none;
}

header > nav {
  grid-column-start: 3;
}

.logo {
  padding-top: 35px;
}

.navbar {
  margin: 0px;
  display: flex;
  list-style: none;
  justify-content: center;
}

.navbar > li {
  padding: 50px 0px 0px 0px;

  border-top: white solid 2px;
  font-family: "Raleway regular";
}

.navbar > li > a {
  padding-left: 30px;
  padding-right: 30px;
  display: inline;
}

.navbar > li > a:hover {
  padding-top: 50px;
  border-top: #0065fc solid 2px;
}

.headsection > p {
  font-size: 1rem;
}

.actualBar {
  display: flex;
  height: 50px;
  max-width: 420px;
  border: #f2f2f2 solid 1px;
  border-radius: 15px;
}

.actualBar > svg {
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  width: 52px;
  margin: 0;
  padding: 15px 0px;
}

#lookIcon {
  display: none;
}

.actualBar > input {
  font-family: "Raleway Bold";
  width: 234px;
  padding-left: 10px;
  font-size: 1.1rem;
  border: #f2f2f2 solid 1px;
  border-right: none;
}
::placeholder {
  color: black;
}

.searchButton {
  width: 134px;
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
}

.searchButton > p {
  text-align: center;
  font-family: "Raleway Bold";
  font-size: 1rem;
  color: white;
  margin-top: 15px;
}

.filters {
  display: flex;
  padding-top: 30px;
}

.filters > p {
  font-family: "Raleway Bold";
  font-size: 1rem;
  padding-right: 25px;
}

.filter_Buttons {
  display: flex;
  flex-wrap: wrap;
}

.filter_button :hover {
  background-color: #deebff;
}

.buttonContent {
  display: flex;
  border: solid 2px #f2f2f2;
  border-left: none;
  height: 46px;
  border-radius: 50px;
  padding-right: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.buttonContent > svg {
  align-self: center;
  padding: 15px;
  background-color: #deebff;
  border-radius: 50%;
}

.buttonContent > p {
  font-family: "Raleway Bold";
  padding-left: 10px;
  font-size: 1.1rem;
  align-self: center;
}

.tagline_info {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
}

.tagline_info > svg {
  align-self: center;
  border: solid #f2f2f2 1px;
  border-radius: 50%;
  padding: 5px;
}

.tagline_info > p {
  margin-left: 10px;
  font-size: 0.85rem;
}

.hebergements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*flex-wrap: wrap;*/
}

.hebergementParVille > h2,
.titreGraph > h2 {
  padding-left: 40px;
}

.hebergementParVille {
  padding-top: 40px;
  background-color: #f2f2f2;
  border-radius: 20px;
  max-width: 880px;
}

.more {
  font-family: "Raleway Bold";
  padding-left: 40px;
  margin-top: 0px;
}

.hebergement_liste {
  padding: 0px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.hebergement {
  border-radius: 20px;
  padding: 5px;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0px 1px 29px -11px rgba(0, 0, 0, 0.75);
  margin-left: 5px;
  margin-right: 5px;
  flex: 1;
}

.hebergement > a {
  overflow: hidden;
  min-width: 236px;
  width: 100%;
  height: 200px;
}

.hebergement > a > img {
  width: inherit;
  height: 115px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.hebergement > img {
  width: inherit;
  height: 115px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.hebergement_info > h3,
.hebergement_info > ul,
.hebergement_info > p {
  padding: 7px 0px 0px 10px;
  margin: 0px;
}

.rating > li {
  display: inline-block;
}

.populairesParVille {
  padding-top: 40px;
  max-width: 420px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-left: 40px;
}

.titreGraph {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 40px;
}

.populaire_liste {
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.populaire > a {
  width: 333px;
  background-color: white;
  border-radius: 20px;
  height: 134px;
  overflow: hidden;
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin-bottom: 33px;
  box-shadow: 0px 1px 29px -11px rgba(0, 0, 0, 0.75);
}

.populaire > a > img {
  width: 127px;
  object-fit: cover;
  border-radius: 15px 0px 0px 15px;
}

.populaire_info {
  padding: 0px 20px 0px 20px;
}

.populaire_info > h3,
.populaire_info > p {
  margin: 10px 0px 0px 0px;
}

.populaire_info > .rating {
  margin-top: 30px;
  padding-left: 0px;
}

.activites {
  margin-top: 60px;
}

.listeDesActivites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px;
  margin: 0px -20px;
}

.activiteRegular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activitePrime,
.activiteRegular {
  margin-bottom: 20px;
}

.activitePrime,
.activiteRegular {
  padding: 0px 20px;
}

.activitePrime,
.activiteRegular {
  min-width: 302px;
  flex: 1;
}

.activite {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 1px 29px -11px rgba(0, 0, 0, 0.75);
}

.activite > h3 {
  padding-left: 10px;
}

.activite > img {
  object-fit: cover;
  width: 100%;
}

#port,
#calanques {
  height: 445px;
}

#port > img,
#calanques > img {
  height: 390px;
}

#pomegues {
  height: 235px;
}

#pomegues > img {
  height: 180px;
}

#frioul {
  height: 165px;
}

#frioul > img {
  height: 110px;
}

#notre_Dame {
  height: 193px;
}

#notre_Dame > img {
  height: 135px;
}

#longchamp {
  height: 209px;
}

#longchamp > img {
  height: 153px;
}

#pomegues,
#notre_Dame {
  margin-bottom: 20px;
}

.footerContainer {
  background-color: #f2f2f2;
}

footer {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}
.mentions {
  padding: 0px 50px;
  width: 25%;
  min-width: 250px;
}

@media screen and (max-width: 1145px) {
  .hebergements {
    flex-wrap: wrap;
  }
  .populairesParVille {
    margin-top: 20px;
    max-width: 100%;
  }

  .populaire {
    width: 100%;
  }

  .populaire > a {
    width: 100%;
    height: 100%;
    max-height: 200px;
  }

  .populaire > a > img {
    max-width: 50%;
    width: auto;
  }

  .populaire_info {
    max-height: 300px;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  .screenHeader {
    display: none;
  }

  .mobileHeader {
    display: block;
  }

  .logoAndRegister {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logoAndRegister > a {
    padding-top: 50px;
    font-family: "Raleway bold";
    color: #0065fc;
  }

  .navbar {
    margin: 0px -50px;
  }

  .navbar > li {
    padding: 20px 0px 0px 0px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar > li > a {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: #f2f2f2 2px solid;
  }

  .navbar > li > a:hover {
    padding-top: 0px;
    border-top: none;
    border-bottom: #0065fc solid 2px;
  }

  .actualBar {
    width: 334px;
    border-left: none;
  }

  .actualBar > svg {
    width: 50px;
  }

  #lookIcon {
    display: block;
    background-color: #0065fc;
    border-radius: 15px;
    width: 50px;
  }

  .searchButton {
    display: none;
  }

  .hebergement_liste {
    justify-content: space-around;
  }

  .hebergement {
    margin: 15px 5px;
  }

  .populairesParVille {
    margin: 30px 0px;
  }

  .listeDesActivites {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    margin: 0px;
  }

  .navbar {
    margin: 0px;
    padding-left: 0px;
  }

  .mobileHeader {
    margin-top: -10px;
    padding: 0px;
    border-bottom: none;
  }
  .logoAndRegister {
    margin: 0px 21px;
  }

  header {
    padding: 0px 21px;
  }

  main {
    padding: 10px 0px 50px 0px;
  }

  .headsection {
    padding: 0px 21px 0px 21px;
  }

  .actualBar {
    border: none;
    max-width: 334px;
    width: 100%;
  }

  .actualBar > input {
    max-width: 234px;
    width: 100%;
  }

  .filters {
    flex-direction: column;
  }

  .buttonContent {
    padding-right: 20px;
    margin-right: 10px;
  }

  .buttonContent > p {
    font-size: 0.9rem;
  }

  .tagline_info > p {
    font-size: 0.9rem;
  }

  .hebergements {
    flex-direction: column-reverse;
  }

  .populairesParVille {
    width: 100%;
    min-width: 0px;
    max-width: 100%;
    margin: 0px 0px;
    border-radius: 0px;
    padding-bottom: 25px;
  }

  .populaire > a {
    margin-bottom: 10px;
  }

  .hebergementParVille {
    background-color: white;
    padding-top: 20px;
  }

  .hebergement_liste {
    padding: 0px;
  }

  .hebergement {
    max-width: 334px;
    margin: 5px;
  }

  .hebergement > a {
    max-width: 334px;
  }

  .hebergementParVille > p {
    margin-top: 30px;
    padding-left: 21px;
  }

  .hebergementParVille > h2,
  .populairesParVille > h2 {
    padding-left: 21px;
  }

  .activites {
    padding: 0px 21px;
  }

  .activitePrime,
  .activiteRegular {
    margin-bottom: 0px;
  }

  .activite {
    margin-bottom: 20px;
  }

  #port,
  #pomegues,
  #frioul,
  #calanques,
  #notre_Dame,
  #longchamp {
    height: 190px;
  }

  #port > img,
  #pomegues > img,
  #frioul > img,
  #calanques > img,
  #notre_Dame > img,
  #longchamp > img {
    height: 134px;
  }

  .activite > h3 {
    padding-left: 20px;
  }

  footer {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .mentions {
    padding-top: 10px;
  }
}
