@font-face {
  font-family: "Raleway regular";
  src: url("../CSS/Font/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway bold";
  src: url("../CSS/Font/Raleway/Raleway-ExtraBold.ttf");
}

body {
  width: 100%;
  margin: 0px;
  font-size: 16px;
}

.container {
  max-width: 1440px;
  margin: auto;
}

header {
  padding: 0px 50px;
}

p {
  font-family: "Raleway regular";
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}

h1,
h2 {
  font-family: "Raleway Bold";
}

h1 {
  margin-bottom: -8px;
  font-size: 1.35rem;
}

h2 {
  margin: 0;
  font-size: 1.35rem;
  padding-bottom: 20px;
}

h3 {
  font-family: "Raleway Bold";
  font-size: 1rem;
}

ul {
  list-style: none;
}

main {
  padding: 50px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mobileHeader {
  display: none;
}

header > nav {
  grid-column-start: 3;
}

#logo {
  padding-top: 35px;
}

.navbar {
  margin: 0px;
  display: flex;
  list-style: none;
  justify-content: center;
  padding-inline-start: 0px;
}

.navbar > li {
  padding: 50px 0px 0px 0px;

  border-top: white solid 2px;
  font-family: "Raleway regular";
}

.navbar > li > a {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar > li > a:hover {
  padding-top: 50px;
  border-top: #0065fc solid 2px;
}

.headsection > p {
  font-size: 1rem;
}

.actualBar {
  display: flex;
  height: 50px;
  max-width: 420px;
  border: #f2f2f2 solid 1px;
  border-radius: 15px;
}

.actualBar > svg {
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  width: 52px;
  margin: 0;
  padding: 15px 0px;
}

#lookIcon {
  display: none;
}

.actualBar > input {
  font-family: "Raleway Bold";
  width: 234px;
  padding-left: 10px;
  font-size: 1.1rem;
  border: #f2f2f2 solid 1px;
  border-right: none;
}
::placeholder {
  color: black;
}

.searchButton {
  width: 134px;
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
}

.searchButton > p {
  text-align: center;
  font-family: "Raleway Bold";
  font-size: 1rem;
  color: white;
  margin-top: 15px;
}

.filters {
  display: flex;
  padding-top: 30px;
}

.filters > p {
  font-family: "Raleway Bold";
  font-size: 1rem;
  padding-right: 25px;
}

.filter_Buttons {
  display: flex;
  flex-wrap: wrap;
}

.filter_button :hover {
  background-color: #deebff;
}

.buttonContent {
  display: flex;
  border: solid 2px #f2f2f2;
  border-left: none;
  height: 46px;
  border-radius: 50px;
  padding-right: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.buttonContent > svg {
  align-self: center;
  padding: 15px;
  background-color: #deebff;
  border-radius: 50%;
}

.buttonContent > p {
  font-family: "Raleway Bold";
  padding-left: 10px;
  font-size: 1.1rem;
  align-self: center;
}

.tagline_info {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
}

.tagline_info > svg {
  align-self: center;
  border: solid #f2f2f2 1px;
  border-radius: 50%;
  padding: 5px;
}

.tagline_info > p {
  margin-left: 10px;
  font-size: 0.85rem;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  .screenHeader {
    display: none;
  }

  .mobileHeader {
    display: block;
  }

  .logoAndRegister {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logoAndRegister > a {
    padding-top: 50px;
    font-family: "Raleway bold";
    color: #0065fc;
  }

  .mobileHeader {
    border-bottom: #f2f2f2 2px solid;
  }

  .navbar > li {
    padding: 20px 0px 0px 0px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar > li > a {
    width: 100%;
    text-align: center;
  }

  .navbar > li > a:hover {
    padding-top: 0px;
    border-top: none;
    border-bottom: #0065fc solid 2px;
  }

  .actualBar {
    width: 334px;
    border-left: none;
  }

  .actualBar > svg {
    width: 50px;
  }

  #lookIcon {
    display: block;
    background-color: #0065fc;
    border-radius: 15px;
    width: 50px;
  }

  .searchButton {
    display: none;
  }
}
